@charset "UTF-8";

.App {
  position: relative;
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  align-items: center;
}

.logo {
  width: 172px;
  padding-left: 10px;
}

.logoImg {
  width: 100%;
}

.navigation {
  padding-top: 8px;
}

.navigation li {
  width: 45px;
  height: 100%;
  list-style: none;
}

.menu {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto 4px;
  background: url(./assets/img/menu.png) no-repeat;
  background-size: 32px;
}
